.bottom-from-image {
  margin: 30px 0; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "myriad-pro"; }

.site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; }

.site-canvas {
  width: 100%;
  position: relative;
  -webkit-transition: .3s ease all;
  transition: .3s ease all; }
  .site-wrapper.show-nav .site-canvas {
    -webkit-transform: translateX(88%);
    transform: translateX(88%); }

.print-view {
  display: none; }

.hero-unit {
  background: #f5f5f5;
  width: 100%;
  height: 700px;
  margin-bottom: 85px;
  border-bottom: 6px solid #bfb9b6; }

.center-content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.full-row > .col-md-5,
.full-row > .col-md-6,
.full-row > .col-md-7 {
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative; }

/* Salvattore Base Styles */
.column {
  float: left; }

.size-1of4 {
  width: 25%; }

.size-1of3 {
  width: 33.333%; }

.size-1of2 {
  width: 50%; }

/* Configure Salvattore with Media Queries */
@media screen and (max-width: 450px) {
  #posts[data-columns]::before {
    content: '2 .column.size-1of1'; }

  .post {
    padding: 17px; } }
@media screen and (min-width: 451px) and (max-width: 850px) {
  #posts[data-columns]::before {
    content: '3 .column.size-1of2'; }

  .post {
    padding: 14px; } }
@media screen and (min-width: 851px) {
  #posts[data-columns]::before {
    content: '4 .column.size-1of4'; }

  .post {
    padding: 12px; } }
h1 {
  font-family: "minion-pro";
  font-weight: 400;
  font-size: 48px; }

h2 {
  font-family: "minion-pro";
  font-size: 36px; }

h3 {
  font-family: "minion-pro";
  font-size: 24px; }

h4 {
  text-transform: uppercase;
  color: #BFB9B6;
  font-size: .9em;
  font-family: "myriad-pro";
  font-weight: 600; }

p {
  font-family: "myriad-pro";
  color: #808080;
  font-size: 27px;
  line-height: 48px;
  font-weight: 300; }
  p.lead {
    font-family: "myriad-pro";
    color: #808080;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300; }

a {
  font-family: "myriad-pro"; }
  a.view-all {
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
    color: #b00f3b; }
    a.view-all:hover {
      text-decoration: none;
      color: #800426; }

blockquote {
  font-family: "minion-pro";
  line-height: 46px;
  font-size: 27px;
  font-style: italic;
  max-width: 500px;
  color: #8c8c8c;
  border-left: 8px solid #eee;
  margin-left: 20px;
  padding: 6px 0 6px 20px; }

.site-wrapper .navbar-inverse.navbar {
  margin: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.8);
  height: 72px;
  border: none;
  position: fixed;
  width: 100%;
  z-index: 499; }
  .site-wrapper .navbar-inverse.navbar a.navbar-brand {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    height: 72px; }
    .site-wrapper .navbar-inverse.navbar a.navbar-brand:hover object {
      opacity: 0.75; }
    .site-wrapper .navbar-inverse.navbar a.navbar-brand object {
      width: 264px;
      height: 40px;
      pointer-events: none;
      opacity: 1;
      transition: all 0.25s; }
      .no-svg .site-wrapper .navbar-inverse.navbar a.navbar-brand object {
        background-image: url(../images/logo_header@2x.png);
        background-size: 100%; }
  .site-wrapper .navbar-inverse.navbar .navbar-nav li a {
    font-size: 16px;
    font-weight: 300;
    padding: 24px 15px 28px;
    color: #bfb9b6;
    transition: all 0.25s; }
    .site-wrapper .navbar-inverse.navbar .navbar-nav li a:hover {
      color: white; }
  .site-wrapper .navbar-inverse.navbar .collection-list {
    margin-right: -15px;
    margin-left: 20px;
    height: 72px;
    border-left: 1px solid #685f5b; }
    .site-wrapper .navbar-inverse.navbar .collection-list.collection-has-items {
      background: #fca532;
      color: white !important;
      cursor: pointer;
      border-left: 1px solid transparent;
      transition: all 0.5s; }
      .site-wrapper .navbar-inverse.navbar .collection-list.collection-has-items:hover {
        background: #f78e04; }
      .site-wrapper .navbar-inverse.navbar .collection-list.collection-has-items li, .site-wrapper .navbar-inverse.navbar .collection-list.collection-has-items p {
        color: white !important; }
    .site-wrapper .navbar-inverse.navbar .collection-list ul {
      margin: 0px;
      padding: 10px 20px;
      height: 72px; }
      .site-wrapper .navbar-inverse.navbar .collection-list ul li {
        list-style: none;
        float: left; }
  .site-wrapper .navbar-inverse.navbar .collection-number {
    margin-right: 8px; }
    .site-wrapper .navbar-inverse.navbar .collection-number p {
      font-size: 36px;
      font-weight: 900;
      line-height: 48px;
      color: #9b928d; }
  .site-wrapper .navbar-inverse.navbar .collection-text {
    font-size: 11px;
    padding-top: 10px;
    font-weight: bold;
    color: #9b928d; }

.mobile-menu-area {
  width: 88%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -88%;
  background: rgba(0, 0, 0, 0.8); }
  .mobile-menu-area ul {
    margin: 0px;
    padding: 0px; }
    .mobile-menu-area ul li {
      list-style: none;
      border-bottom: 1px solid #837873;
      font-family: "myriad-pro"; }
      .mobile-menu-area ul li.title a {
        font-size: 18px;
        padding: 15px 20px; }
      .mobile-menu-area ul li a {
        color: white;
        padding: 15px 40px;
        display: block;
        font-family: "myriad-pro"; }
        .mobile-menu-area ul li a:hover {
          background: black;
          text-decoration: none; }

.mobile-navbar {
  height: 50px;
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 499; }
  .mobile-navbar a {
    display: inline-block; }
  .mobile-navbar .logo-mobile {
    display: inline-block;
    width: 226px;
    height: 20px;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: 14px;
    pointer-events: none; }
  .mobile-navbar .toggle-nav {
    cursor: pointer;
    color: white;
    font-size: 18px;
    vertical-align: middle; }

.footer {
  background: #bfb9b6;
  padding: 55px 0px; }
  .footer .logo-image {
    margin: 0 0 15px; }
    .footer .logo-image object {
      max-width: 250px; }
  .footer p {
    line-height: 20px;
    color: #333333;
    margin: 15px 0 0;
    display: block; }
    .footer p a {
      color: black;
      font-weight: bold;
      text-decoration: underline; }
  .footer ul.footer-links {
    margin: 0px;
    padding: 0; }
    .footer ul.footer-links li {
      list-style: none; }
      .footer ul.footer-links li.title {
        color: black;
        font-weight: bold;
        font-family: "minion-pro";
        font-size: 18px;
        margin-bottom: 5px; }
      .footer ul.footer-links li ul {
        float: left;
        margin-right: 30px; }
      .footer ul.footer-links li a {
        color: #333333;
        font-size: 14px;
        line-height: 24px; }
  .footer ul.no-style {
    margin: 0px; }
    .footer ul.no-style li {
      list-style: none; }
  .footer ul.info-list {
    margin: 0px;
    color: #333333;
    padding: 0px; }
    .footer ul.info-list > li {
      list-style: none;
      float: left; }
    .footer ul.info-list ul {
      padding-left: 30px; }
      @media screen and (max-width: 767px) {
        .footer ul.info-list ul {
          padding-left: 20px; } }
    .footer ul.info-list li.small {
      font-size: 11px; }
    .footer ul.info-list li.title {
      color: #333333;
      font-weight: bold; }
    .footer ul.info-list li a {
      color: #333333;
      font-weight: bold; }

.hero-unit.homepage .object {
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
  background: black; }
  .hero-unit.homepage .object img {
    max-width: 350px;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .hero-unit.homepage .object img {
        max-width: 300px; } }
    @media screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .hero-unit.homepage .object img {
        opacity: 0.35; } }
  .hero-unit.homepage .object.fade-left-up {
    -o-transform: translateX(-100px) translateY(40px) rotate(-6deg);
    -moz-transform: translateX(-100px) translateY(40px) rotate(-6deg);
    -webkit-transform: translateX(-100px) translateY(40px) rotate(-6deg);
    transform: translateX(-100px) translateY(40px) rotate(-6deg);
    z-index: 2; }
  .hero-unit.homepage .object.fade-right-up {
    -o-transform: translateX(120px) translateY(40px) rotate(2deg);
    -moz-transform: translateX(120px) translateY(40px) rotate(2deg);
    -webkit-transform: translateX(120px) translateY(40px) rotate(2deg);
    transform: translateX(120px) translateY(40px) rotate(2deg);
    z-index: 3; }
  .hero-unit.homepage .object.fade-right-down {
    -o-transform: translateX(240px) translateY(40px) rotate(-3deg);
    -moz-transform: translateX(240px) translateY(40px) rotate(-3deg);
    -webkit-transform: translateX(240px) translateY(40px) rotate(-3deg);
    transform: translateX(240px) translateY(40px) rotate(-3deg);
    z-index: 4; }

.btn-outline {
  background: white;
  border: 2px solid #b00f3b;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  border-radius: 99px;
  padding: 12px 30px 14px;
  color: #b00f3b;
  transition: all 0.25s; }
  .btn-outline:hover {
    background: #b00f3b;
    border: 2px solid #b00f3b;
    color: white; }
  .btn-outline.btn-gray {
    border: 2px solid #b2b2b2;
    color: #b2b2b2;
    background-color: white; }
    .btn-outline.btn-gray:hover {
      border: 2px solid #b2b2b2;
      background-color: #b2b2b2;
      color: white; }
  .btn-outline span {
    font-style: normal;
    font-family: Arial;
    font-size: 21px;
    line-height: 10px;
    margin-left: 8px; }

.btn-reset {
  background: none;
  border: 2px solid #b2b2b2;
  color: #b2b2b2;
  font-style: italic;
  border-radius: 99px;
  font-size: 12px;
  transition: all 0.25s; }
  .btn-reset:hover {
    border: 2px solid #b2b2b2;
    background: #b2b2b2;
    color: white; }

.save-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
  z-index: 99;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.45); }
  .save-icon.object-added {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.blocks .block {
  float: left;
  background: #f1f2f2;
  padding: 40px 35px 35px;
  height: 230px;
  overflow: hidden;
  box-shadow: 0;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  cursor: pointer; }
  .blocks .block:hover {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    z-index: 2; }
  .blocks .block h2 {
    color: white;
    margin: 80px 0 0;
    position: relative;
    z-index: 2;
    font-size: 18px;
    font-weight: 700;
    font-family: 'myriad-pro'; }
  .blocks .block p {
    color: white;
    margin: 8px 0 0;
    position: relative;
    z-index: 2;
    line-height: 27px;
    font-weight: 700;
    font-family: 'minion-pro'; }
  .blocks .block .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .blocks .block.block-curated {
    background: #ccab77; }
  .blocks .block.block-number {
    background: url(../images/callout_count.jpg) no-repeat;
    background-size: cover; }
    .blocks .block.block-number h2 {
      font-size: 60px; }
    .blocks .block.block-number p {
      line-height: 27px; }
  .blocks .block.block-callout {
    background: #800426; }
    .blocks .block.block-callout p {
      margin: 0px;
      color: white;
      font-family: 'myriad-pro'; }
      .blocks .block.block-callout p.hashtag {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px; }
        .blocks .block.block-callout p.hashtag span {
          font-size: 12px;
          margin-right: 6px; }
      .blocks .block.block-callout p.message {
        font-size: 21px;
        margin: 10px 0 0;
        line-height: 30px;
        font-family: "minion-pro";
        font-weight: 700; }
  @media screen and (min-width: 1440px) {
    .blocks .block {
      width: 16.66%;
      height: 250px; }
      .blocks .block.two {
        width: 33.34%; } }
  @media screen and (min-width: 1180px) and (max-width: 1439px) {
    .blocks .block {
      width: 20%; }
      .blocks .block.two {
        width: 40%; }
      .blocks .block.hide-lg {
        display: none; } }
  @media screen and (min-width: 992px) and (max-width: 1179px) {
    .blocks .block {
      width: 25%; }
      .blocks .block.two {
        width: 50%; }
      .blocks .block.hide-md {
        display: none; } }
  @media screen and (min-width: 600px) and (max-width: 991px) {
    .blocks .block {
      width: 33.33%; }
      .blocks .block.two {
        width: 66.67%; }
      .blocks .block.hide-sm {
        display: none; } }
  @media screen and (max-width: 600px) {
    .blocks .block {
      width: 50%; }
      .blocks .block.two {
        width: 100%; }
      .blocks .block.hide-xs {
        display: none; } }

.callout {
  width: 100%;
  max-width: 420px;
  min-height: 200px;
  background-color: #800426;
  padding: 40px 35px 35px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0;
  transition: all 0.5s; }
  .callout:hover {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25); }
  .callout p {
    margin: 0px;
    color: white; }
    .callout p.hashtag {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px; }
      .callout p.hashtag span {
        font-size: 12px;
        margin-right: 6px; }
    .callout p.message {
      font-size: 21px;
      margin: 10px 0 0;
      line-height: 30px;
      font-family: "minion-pro";
      font-weight: 700; }

.my-collection-header {
  padding: 120px 0 30px; }
  .my-collection-header .options {
    margin-top: 45px; }
    .my-collection-header .options ul {
      margin: 0;
      padding: 0; }
      .my-collection-header .options ul li {
        margin: 0;
        padding: 0;
        margin: 0 8px; }
        .my-collection-header .options ul li:first-child {
          padding-right: 25px;
          margin-right: 12px;
          border-right: 4px solid #f1f2f2; }
        .my-collection-header .options ul li a {
          color: #b00f3b; }
          .my-collection-header .options ul li a:hover {
            text-decoration: none;
            color: #800426; }
          .my-collection-header .options ul li a span {
            margin-right: 6px; }

.hero-unit.homepage {
  position: relative;
  height: 700px;
  background: url(../images/homepage_hero@2x.jpg);
  background-size: cover;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .hero-unit.homepage {
      height: 580px; } }
  .hero-unit.homepage .jumbotron {
    padding: 72px 0 0;
    background: none;
    margin: 0;
    position: relative;
    z-index: 20; }
    .hero-unit.homepage .jumbotron h1 {
      margin: 130px 0 0;
      color: white;
      width: 90%;
      line-height: 80px;
      font-size: 72px; }
      @media screen and (min-width: 1440px) {
        .hero-unit.homepage .jumbotron h1 {
          font-size: 72px;
          margin: 160px 0 0; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .hero-unit.homepage .jumbotron h1 {
          width: 100%;
          padding: 0 30px; } }
      @media screen and (max-width: 767px) {
        .hero-unit.homepage .jumbotron h1 {
          width: 100%;
          padding: 0 20px;
          margin: 40px 0 0;
          font-size: 52px;
          line-height: 64px; } }
  .hero-unit.homepage .scroll-down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    display: block;
    color: white;
    font-size: 27px;
    font-family: Arial;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -30px;
    padding-top: 7px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 999px;
    text-decoration: none;
    opacity: 0.75;
    transition: all 0.5s;
    z-index: 10; }
    .hero-unit.homepage .scroll-down:hover {
      opacity: 1;
      bottom: 35px; }

.about-info {
  margin: 0 0 80px; }
  @media screen and (max-width: 767px) {
    .about-info {
      margin: 0 25px 80px; } }
  .about-info p {
    line-height: 36px;
    font-family: "minion-pro";
    font-size: 21px;
    color: black;
    margin-bottom: 40px; }
    .about-info p:first-letter {
      font-weight: 700;
      float: left;
      display: block;
      margin: -5px 15px 0 0;
      color: black;
      font-style: normal;
      font-size: 4.5em;
      line-height: 1;
      /*-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/ }

.homepage-blog-section {
  padding: 70px 0; }
  .homepage-blog-section ul {
    text-align: center; }
  .homepage-blog-section h2 {
    margin-bottom: 20px; }
  .homepage-blog-section .recent-blog-item {
    padding: 30px;
    margin: 0;
    border: 1px solid #f1f2f2;
    background: white;
    box-shadow: none;
    text-align: left;
    min-height: 180px;
    transition: all 0.5s; }
    .homepage-blog-section .recent-blog-item:hover {
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); }
    .homepage-blog-section .recent-blog-item h4 {
      font-size: 16px;
      margin: 0 0 12px; }
    .homepage-blog-section .recent-blog-item p.lead {
      color: black;
      font-style: normal;
      margin: 0 0 12px;
      line-height: 32px;
      font-size: 24px; }
      .homepage-blog-section .recent-blog-item p.lead a {
        color: black;
        font-style: normal;
        font-weight: 300; }
        .homepage-blog-section .recent-blog-item p.lead a:hover {
          text-decoration: none; }
    .homepage-blog-section .recent-blog-item a {
      color: #b00f3b;
      font-style: italic;
      font-weight: 600; }
      .homepage-blog-section .recent-blog-item a:hover {
        text-decoration: none;
        color: #800426; }

ul.partner-list li {
  margin-right: 25px;
  margin-top: 20px; }

.hero-unit.exhibit {
  position: relative;
  height: 700px;
  background: #333333;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .hero-unit.exhibit {
      height: 580px; } }
  .hero-unit.exhibit .jumbotron {
    padding: 72px 0 0;
    background: none;
    margin: 0; }
    .hero-unit.exhibit .jumbotron h4 {
      margin: 300px 0 0;
      text-transform: uppercase;
      font-family: "myriad-pro";
      font-size: 16px; }
    .hero-unit.exhibit .jumbotron h1 {
      color: white; }
      @media screen and (min-width: 1440px) {
        .hero-unit.exhibit .jumbotron h1 {
          font-size: 102px; } }

.menu-detail-area {
  padding: 140px 0 80px; }
  .menu-detail-area .header p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; }
  .menu-detail-area .header h1, .menu-detail-area .header h4 {
    margin: 0; }
  .menu-detail-area .header h1 {
    margin: 0 0 20px; }
  .menu-detail-area .information-row p {
    line-height: 42px;
    font-size: 21px; }
  .menu-detail-area .information-row .menu ul {
    border: 1px solid #ddd;
    width: 100%;
    padding: 30px 35px 20px;
    margin-top: 6px; }
    .menu-detail-area .information-row .menu ul li {
      font-weight: bold;
      margin-bottom: 15px;
      font-weight: 14px;
      list-style: none; }
      .menu-detail-area .information-row .menu ul li a {
        color: black; }
        .menu-detail-area .information-row .menu ul li a:hover {
          text-decoration: none;
          color: #b00f3b; }
      .menu-detail-area .information-row .menu ul li.active a {
        color: #b00f3b; }

.introduction-info {
  margin-bottom: 85px; }
  .introduction-info p {
    line-height: 42px;
    font-size: 21px; }

.introduction-sub-section {
  margin-bottom: 80px; }
  .introduction-sub-section .sub-section-item {
    text-decoration: none; }
    .introduction-sub-section .sub-section-item:hover h2 {
      opacity: 0.75; }
    .introduction-sub-section .sub-section-item img {
      max-width: 100%; }
    .introduction-sub-section .sub-section-item h2 {
      font-size: 30px;
      font-weight: 400;
      margin: 20px 0 5px;
      color: black;
      opacity: 1;
      transition: all 0.25s; }
    .introduction-sub-section .sub-section-item p {
      font-size: 18px;
      margin: 0px;
      line-height: 30px; }

.exhibit-sub-section .exhibit-sub-info p {
  line-height: 42px;
  font-size: 21px; }

.map,
.timeline {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-bottom: 80px;
  height: 650px;
  position: relative; }
  .map:before,
  .timeline:before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(76%, transparent), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); }
  .map:after,
  .timeline:after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    height: 100px;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(24%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); }
  .map #leaflet,
  .timeline #leaflet {
    height: 650px; }
    .map #leaflet .leaflet-bottom, .map #leaflet .leaflet-top,
    .timeline #leaflet .leaflet-bottom,
    .timeline #leaflet .leaflet-top {
      z-index: 50; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .map,
    .timeline {
      height: 550px; }
      .map #leaflet,
      .timeline #leaflet {
        height: 550px; } }
  @media screen and (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .map,
    .timeline {
      height: 400px; }
      .map #leaflet,
      .timeline #leaflet {
        height: 400px; } }

.next-section-area {
  background-color: #f1f2f2;
  padding: 25px 0 20px;
  margin-top: 80px; }
  .next-section-area h2 {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 0; }
    .next-section-area h2 a {
      color: #b00f3b;
      font-family: "minion-pro";
      font-style: italic; }
      .next-section-area h2 a:hover {
        text-decoration: none; }
    .next-section-area h2 span {
      font-style: normal;
      font-family: Arial;
      font-size: 21px;
      line-height: 10px;
      margin: 0 4px; }
  .next-section-area h4 {
    margin: 0 0 4px; }
    .next-section-area h4.text-right {
      padding-right: 35px; }
    .next-section-area h4.text-left {
      padding-left: 35px; }

.browse-header {
  background: #f1f2f2;
  padding: 120px 0 30px; }
  .page-browse .browse-header {
    padding-bottom: 0;
    margin-bottom: 30px; }
  .browse-header .object-header {
    background: none !important; }
  .browse-header h1 {
    margin: 0;
    width: 90%;
    display: inline-block; }
    @media screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .browse-header h1 {
        width: 100%; } }
  .browse-header p, .browse-header h2 {
    margin: 0;
    padding: 0; }
  .browse-header h4 {
    margin: 0 0 5px; }
  .browse-header p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; }

.browse-search-header {
  border-bottom: 1px solid #ddd;
  padding: 25px 0; }

.browse-search {
  padding: 15px 0; }
  .browse-search .form-control {
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px; }
    .browse-search .form-control input {
      border: none; }

.post {
  z-index: 400;
  position: relative; }
  .post a {
    color: #000; }
    .post a:hover {
      text-decoration: underline; }
  .post p {
    margin: 6px 0;
    line-height: 20px;
    color: black;
    display: block; }
    .post p.date {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: #bfb9b6; }
      .post p.date span {
        padding: 0 8px;
        opacity: 0.5; }
    .post p.title {
      font-size: 18px;
      font-family: 'minion-pro';
      margin-bottom: 5px; }
  .post img {
    width: 100%;
    margin-bottom: 8px; }

.browse-details .browse-photo {
  padding: 0;
  position: relative; }
  .browse-details .browse-photo a {
    position: absolute;
    color: white;
    font-style: italic;
    bottom: 25px;
    height: 44px;
    border: 2px solid white;
    border-radius: 99px;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45); }
    .browse-details .browse-photo a:hover {
      text-decoration: none;
      background: white;
      color: #333333; }
    .browse-details .browse-photo a.download-link {
      font-size: 16px;
      left: 25px;
      width: 44px;
      padding: 10px 13px; }
    .browse-details .browse-photo a.download-doc {
      font-size: 13px;
      left: 85px;
      width: auto;
      padding: 10px 16px; }
  .browse-details .browse-photo .photo {
    margin: 0 auto;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat; }
    @media screen and (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
      .browse-details .browse-photo .photo {
        height: 400px; } }
    .browse-details .browse-photo .photo.portrait {
      background-size: auto 85%; }
    .browse-details .browse-photo .photo.landscape {
      background-size: 85% auto; }
    .browse-details .browse-photo .photo img {
      height: 100%;
      width: 100%;
      visibility: hidden; }
      @media screen and (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
        .browse-details .browse-photo .photo img {
          display: none; } }

@media screen and (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
  .zoomContainer {
    display: none !important; } }
.browse-items {
  padding-bottom: 80px; }

.object-photo {
  background: #333333; }

.object-content {
  height: 650px;
  overflow: hidden;
  overflow-y: auto;
  position: relative; }
  .object-content:before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(76%, transparent), color-stop(100%, transparent));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); }
  .object-content ul {
    margin: 0px;
    padding: 0px; }
    .object-content ul li {
      list-style: none;
      margin-bottom: 25px; }
      .object-content ul li h4.title {
        font-weight: 600;
        margin-bottom: 8px; }
      .object-content ul li p {
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        line-height: 24px;
        color: black;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto; }
        .object-content ul li p.title {
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase; }
      .object-content ul li ul.tags li {
        background-color: #415761;
        border-radius: 6px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 7px; }
        .object-content ul li ul.tags li h5 {
          margin: 1px;
          font-size: 12px; }
        .object-content ul li ul.tags li a {
          color: white; }
          .object-content ul li ul.tags li a:hover {
            text-decoration: none; }
      .object-content ul li div.options {
        margin-top: 35px; }
        .object-content ul li div.options .dropdown,
        .object-content ul li div.options p {
          margin-bottom: 8px;
          font-style: italic;
          display: block; }
          .object-content ul li div.options .dropdown > a,
          .object-content ul li div.options p > a {
            color: #b00f3b;
            font-weight: bold;
            font-size: 15px; }
            .object-content ul li div.options .dropdown > a:hover,
            .object-content ul li div.options p > a:hover {
              color: #800426;
              text-decoration: none; }
            .object-content ul li div.options .dropdown > a span,
            .object-content ul li div.options p > a span {
              margin-right: 8px; }
          .object-content ul li div.options .dropdown ul,
          .object-content ul li div.options p ul {
            border: none;
            border-radius: 0;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25); }
            .object-content ul li div.options .dropdown ul li,
            .object-content ul li div.options p ul li {
              margin-bottom: 0; }
              .object-content ul li div.options .dropdown ul li a,
              .object-content ul li div.options p ul li a {
                padding: 10px 20px;
                font-size: 16px; }
              .object-content ul li div.options .dropdown ul li.divider,
              .object-content ul li div.options p ul li.divider {
                margin: 0; }

.padding-row {
  padding: 40px 45px 20px; }

.related-content {
  padding: 20px 40px 40px; }
  .related-content h2 {
    font-weight: normal;
    margin: 40px 0 15px; }
  .related-content .related-item {
    padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 25px; }
    .related-content .related-item p {
      line-height: 20px;
      font-size: 18px; }
      .related-content .related-item p.title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px; }
    .related-content .related-item h3 {
      margin-top: 10px; }
  .related-content .related-items ul {
    margin-left: 20px; }
    .related-content .related-items ul li {
      color: black;
      font-weight: bold;
      list-style: disc;
      font-size: 16px; }
      .related-content .related-items ul li a {
        color: #c3003f; }

.curated-content .curated-header {
  margin-bottom: 20px; }
.curated-content .curated-row-item h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 15px 0 0; }
.curated-content .curated-row-item h4 {
  margin: 8px 0 0; }
.curated-content .curated-row-item img {
  max-width: 100%; }

.curated-collection-list .curated-info h3 {
  margin: 6px 0;
  font-size: 21px;
  font-weight: bold; }
  .curated-collection-list .curated-info h3 a {
    color: black;
    font-family: "minion-pro"; }
.curated-collection-list .curated-info p.author {
  font-size: 13px;
  margin: 4px 0;
  font-weight: bold; }
.curated-collection-list .curated-info p.description {
  font-size: 16px;
  line-height: 30px; }
.curated-collection-list .curated-row-item {
  margin: 10px 0 30px; }

.gray-area {
  padding: 60px 0 80px;
  background: #f1f2f2; }

.about-page-header {
  background: #f1f2f2;
  padding: 120px 0 30px;
  margin-bottom: 50px; }
  .about-page-header h1 {
    font-weight: normal; }

.about-page-info {
  margin-bottom: 100px; }
  .about-page-info p {
    margin-bottom: 30px;
    line-height: 27px;
    font-size: 18px; }
    .about-page-info p strong {
      color: black; }

.view-people {
  border-top: 1px solid #ddd;
  padding: 40px 0;
  position: relative; }
  .view-people + div {
    margin-top: 0; }
  .view-people .person {
    background-color: #f1f2f2;
    padding: 0 50px 50px;
    margin: 40px 20px;
    min-height: 425px; }
    .view-people .person .photo {
      width: 150px;
      height: 150px;
      border: 5px solid white;
      border-radius: 999px;
      margin: 0 auto -20px;
      position: relative;
      top: -40px;
      overflow: hidden; }
      .view-people .person .photo img {
        width: 100%;
        height: auto; }
    .view-people .person .about p {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      color: black; }
    .view-people .person .about h2 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 10px; }
    .view-people .person .related-info ul {
      padding: 0 15px;
      margin: 0 0 0 2px; }
      .view-people .person .related-info ul li {
        color: #b00f3b;
        margin-bottom: 5px; }
        .view-people .person .related-info ul li a {
          color: #b00f3b;
          font-style: italic;
          font-weight: bold; }
          .view-people .person .related-info ul li a:hover {
            color: #800426;
            text-decoration: none; }

.partner-page-header {
  margin-bottom: 32px; }

.partner-page-header a {
  text-transform: uppercase;
  color: #BFB9B6;
  font-size: .9em;
  font-family: "myriad-pro";
  font-weight: 600; }

.partner-page-header img {
  margin: 15px 0 5px; }

.partner-page {
  margin-bottom: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd; }

.partner-page p.information {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 20px; }

.partner-page ul {
  padding: 0px;
  margin: 0px; }

.partner-page ul li {
  margin-bottom: 20px;
  list-style: none; }

.partner-page ul li p.header {
  font-size: 13px;
  margin: 4px 0;
  font-weight: bold; }

.partner-page ul li p.detail {
  font-size: 15px;
  line-height: 20px;
  color: black;
  margin: 2px 0; }

.partner-page ul li p.detail a {
  color: #333; }

.partner-items {
  border: none; }

.partners ul {
  width: 1010px;
  margin: 35px auto; }

.partners ul li {
  margin-right: 40px;
  text-align: left;
  margin-bottom: 30px; }

.partners .partner p {
  font-weight: bold;
  margin: 6px 0;
  font-size: 14px; }

.module-page-header {
  margin-bottom: 10px; }

.module-page-header a {
  text-transform: uppercase;
  color: #BFB9B6;
  font-size: .9em;
  font-family: "myriad-pro";
  font-weight: 600; }

.module-page {
  margin-bottom: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd; }

.module-page h3 {
  margin-top: 10px; }

.module-page p.information {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 10px; }

.module-page ul.details {
  padding: 0px;
  margin: 0px; }

.module-page ul.details li {
  margin-bottom: 20px;
  list-style: none; }

.module-page ul.details li h4 {
  margin: 7px 0 10px; }

.module-page ul.details li p.header {
  font-size: 13px;
  margin: 4px 0;
  font-weight: bold; }

.module-page ul.details li p.detail {
  font-size: 15px;
  line-height: 20px;
  color: black;
  margin: 2px 0; }

.module-page ul.details li p.detail a {
  color: #333; }

.module-page ul.downloads {
  padding-left: 25px; }

.module-page ul.downloads li p {
  font-weight: bold;
  font-size: 16px; }

.module-page ul.downloads li a {
  color: black;
  text-decoration: underline; }

.module-page ul.downloads li a span {
  text-decoration: none; }

.module-items {
  margin-bottom: 50px; }

.module-items .module-item {
  margin-bottom: 40px; }

.module-items .module-item p.for {
  font-weight: bold;
  font-size: 13px; }

.module-items .module-item h3.title {
  font-weight: normal;
  margin: 10px 0; }

.module-items .module-item h3.title a {
  color: black; }

.module-items .module-item h3.title a:hover {
  text-decoration: underline; }

.module-items .module-item p.description {
  font-size: 16px;
  line-height: 30px; }
