.callout {
    width: 100%;
    max-width: 420px;
    min-height: 200px;
    background-color: $fts-darkred;
    padding: 40px 35px 35px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0;
    transition: $slow-trans;

    &:hover {
        box-shadow: 0 2px 16px rgba(0,0,0,0.25);
    }

    p {
        margin: 0px;
        color: white;

        &.hashtag {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;

            span {
                font-size: 12px;
                margin-right: 6px;
            }
        }
        &.message {
            font-size: 21px;
            margin: 10px 0 0;
            line-height: 30px;
            font-family: "minion-pro";
            font-weight: 700;
        }
    }
}