.footer {
    background: $warmgray;
    padding: 55px 0px;

    .logo-image {
    	margin: 0 0 15px;

        object {
            max-width: 250px;

            .no-svg & {
                background-image: url(../images/logo_footer@2x.png);
                background-size: 100%;
            }
        }
    }

    p {
    	line-height: 20px;
    	color: $darkgray;
    	margin: 15px 0 0;
        display: block;

        a {
        	color: black;
        	font-weight: bold;
        	text-decoration: underline;
        }
    }

    ul.footer-links {
        margin: 0px;
        padding: 0;

        li {
            list-style: none;

            &.title {
                color: black;
                font-weight: bold;
                font-family: "minion-pro";
                font-size: 18px;
                margin-bottom: 5px;
            }

            ul {
                float: left;
                margin-right: 30px;
            }
            a {
                color: $darkgray;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
    ul.no-style {
        margin: 0px;

        li{
            list-style: none;
        }
    }
    ul.info-list {
        margin: 0px;
        color: $darkgray;
        padding: 0px;
        
        > li {
            list-style: none;
            float: left;
        }
        ul  {
            padding-left: 30px;

            @media screen and #{$screen-xs} {
                padding-left: 20px;
            }
        }
        li {
            &.small {
                font-size: 11px;
            }
            &.title {
                color: $darkgray;
                font-weight: bold;
            }
            
            a {
                color: $darkgray;
                font-weight: bold;
            }
        }
    }
}
