body {
    margin: 0px;
    padding: 0px;
}

.site-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.site-canvas {
	width: 100%;
	position: relative;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;

    .site-wrapper.show-nav & {
    	-webkit-transform: translateX(88%);
    	transform: translateX(88%);
    }
}
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.print-view {
	display: none;
}


.hero-unit {
    background: #f5f5f5;
    width: 100%;
    height: 500px;
    margin-bottom:85px;
}
.no-hero-unit {
    height: auto;
    background: none;
}
.browse-hero-unit {
    background: #f5f5f5;
    padding: 0 0 0 0;
    margin-bottom: 50px;
}

.center-content {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.gray-area {
    margin: 30px 0 0;
    padding: 45px 0 55px;
    background: #f1f1f1;
}

.full-row > .col-md-6 {
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.gray-gradient ul {
    margin: 0px;
    padding: 0px;
}

.gray-gradient ul li {
    list-style: none;
    margin-bottom: 25px;
}

.gray-gradient ul li p {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
	line-height: 20px;
	color: black;
}

.gray-gradient ul li h4.title {
    font-weight: 600;
}

.gray-gradient ul li ul.tags li {
    background-color:#415761;
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.gray-gradient ul li ul.tags li h5 {
    margin: 1px;
    font-size: 12px;
}

.gray-gradient ul li ul li a {
    color:white;
}

.gray-gradient ul li ul li a:hover {
    text-decoration: none;
}

.gray-gradient ul li p.title {
    font-weight: bold;
    font-size:12px;
    text-transform: uppercase;
}

.gray-gradient ul li div.options {
    margin-top: 35px;
}

.gray-gradient ul li div.options p {
    margin-bottom: 8px;
    font-style: italic;
    display: block;
}

.gray-gradient ul li div.options p a {
    color:#c3003f;
    font-weight: bold;
    font-size: 15px;
}

























@media (max-width: 767px) {

    .browse-details .browse-photo .photo {
        width: 340px;
    }
    .footer ul.info-list {
        margin: 0 auto;
        width: 480px;

    }

    .footer ul.info-list img {
        width: 90px;
    }

    .footer ul.info-list ul {
        padding-left: 20px;
    }

    .footer ul.info-list ul li  {
        font-size: 10px;
    }

    .footer ul.info-list ul li.small {
        font-size: 8.5px;
    }

    .navbar-collapse .nav > .divider-vertical {
        display: none;
      }
}


/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */
 
/* Salvattore Base Styles */
.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}


 
/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
    #posts[data-columns]::before {
        content: '2 .column.size-1of1';
    }
    .post{
    	padding: 17px;
    }
}
 
@media screen and (min-width: 451px) and (max-width: 850px) {
    #posts[data-columns]::before {
        content: '3 .column.size-1of2';
    }
    .post{
    	padding: 14px;
    }
}
 
@media screen and (min-width: 851px) {
    #posts[data-columns]::before {
        content: '4 .column.size-1of4';
    }
    .post{
    	padding: 12px;
    }
    
}
