.my-collection-header {
    padding: 120px 0 30px;

    .options {
        margin-top: 45px;

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                margin: 0 8px;

                &:first-child {
                    padding-right: 25px;
                    margin-right: 12px;
                    border-right: 4px solid $lightgray;
                }

                a {
                    color: $fts-red;
                        
                    &:hover {
                        text-decoration: none;
                        color: $fts-darkred;
                    }

                    span { margin-right: 6px; }
                }
            }
        }
    }
}
