.my-collection-header {
    padding: 120px 0 30px;

    .options {
        margin-top: 45px;

        > ul {
            margin: 0;
            padding: 0;

            > li {
                margin: 0;
                padding: 0;
                margin: 0 8px;

                &:first-child {
                    padding-right: 25px;
                    margin-right: 12px;
                    border-right: 4px solid $lightgray;
                }

                a {
                    color: $fts-red;
                    font-weight: bold;
                    font-size: 15px;

                    &:hover {
                        color: $fts-darkred;
                        text-decoration: none;
                    }

                    span { margin-right: 6px; }
                }
                ul {
                    border: none;
                    border-radius: 0;
                    box-shadow: 0 2px 12px rgba(0,0,0,0.25);
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                        padding: 0;

                        a { 
                            padding: 10px 20px;
                            font-size: 16px;
                            font-weight: 400;
                            font-style: italic;
                            line-height: 1.42857143;
                            color: #333;
                        }
                        &.divider { margin: 0; }
                    }
                }
            }
        }
    }
}
