.curated-content {
    .curated-header {
        margin-bottom: 20px;
    }
    .curated-row-item {
        a { text-decoration: none; }
        h2 {
            font-size: 24px;
            font-weight: normal;
            margin: 15px 0 0;
            color: #333;
        }
        h4 {
            margin: 8px 0 0;
        }
        img {
            max-width: 100%;
        }
    }
}

.curated-collection-list {
    margin-bottom: 60px;

    .curated-info {
        h3 {
            margin: 20px 0 3px;
            font-size: 30px;
            font-weight: 400;
            
            a {
                color: black;
                font-family: "minion-pro";
                text-decoration: none;
                opacity: 1;
                transition: $fast-trans;

                &:hover {
                    opacity: 0.75;
                }
            }
        }
        p {
            &.author {
                font-size: 13px;
                margin: 0 0 15px;
                font-weight: bold;
            }
            &.description {
                font-size: 16px;
                line-height: 30px;
            }
        }
        h4 { margin: 0 0 10px; }
    }
    .curated-row-item {
        margin: 10px 0 30px;
    }
}

.gray-area {
    padding: 60px 0 80px;
    background: $lightgray;
}
