.menu-detail-area {
    margin-bottom: 80px;
}

.menu-detail-area .header-row p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.menu-detail-area .header-row h1 {
    font-size: 48px;
    font-family: "myriad pro";
    margin: 0px;
}

.menu-detail-area .information-row p {
	font-size: 21px;
}

.menu-detail-area .information-row .menu ul {
    border:1px solid #ddd;
    max-width: 239px;
}

.menu-detail-area .information-row .menu ul {
    padding: 40px 40px 20px;
}

.menu-detail-area .information-row .menu ul li {
    font-weight: bold;
    margin-bottom: 15px;
    font-weight: 14px;
    list-style: none;
}

.menu-detail-area .information-row .menu ul li a {
    color:black;
}

.menu-detail-area .information-row .menu ul li a:hover {
    text-decoration: none;
    color:#b00f3b;
}

.menu-detail-area .information-row .menu ul li.active a {
    color:#b00f3b;
}

.introduction-info {
    margin-bottom: 85px;
}

.introduction-info p {
    line-height: 35px;
    font-size: 18px;
}

.introduction-info blockquote {
    line-height: 35px;
    font-size: 18px;
}

.people-sub-section .people-sub-info {
    
}

.people-sub-section .people-sub-info p {
    line-height: 40px;
    font-size: 21px;
}

.people-sub-section .social-card {
    max-width: 480px;
    background-color: #8b0029;
    padding: 40px 35px 35px;
    margin-top: 10px;
    cursor: pointer;
}

.people-sub-section .social-card p {
    margin: 0px;
    color:white;
}

.people-sub-section .social-card p.hashtag {
    font-weight: bold;
    font-size: 15px;
}

.people-sub-section .social-card p.message {
    font-size: 20px;
    margin:5px 0;
    line-height: 30px;
}

.introduction-sub-section .sub-section-item h2 {
    font-size: 36px;
    margin: 0px;
    margin: 30px 0 10px;
}

.introduction-sub-section .sub-section-item p {
    font-size: 18px;   
    margin: 0px;
    line-height: 30px;
}

.introduction-sub-section .sub-section-item h2 a {
    color:black;
    font-family: "minion pro";
}

.introduction-sub-section ul li a {
    color:black;
}

.view-people-area {
    border-top:2px solid #ddd; 
    border-bottom:2px solid #ddd;
    margin-bottom: 100px;
}

.view-people-area .people-section-gradient {
    border-bottom:1px solid white;
}

.view-people-area .person {
    background-color: #e5ecef;
    padding: 0 55px 65px 55px;
}

.view-people-area .person .photo  {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 100px;
    margin:0 auto;
}

.view-people-area .person .about {
    text-align: center;
}

.view-people-area .person .about p {
    text-align: left;
    font-size:16px;
    line-height: 25px;
}

.view-people-area .person .about h2 {
    font-size: 32px;
}

.view-people-area .person .related-info p {
    color:#aeaeae;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.view-people-area .person .related-info ul {
    padding: 0px 15px;
    margin: 0px;
}

.view-people-area .person .related-info ul li {
    color:#b00f3b;
    font-style: italic;
    font-weight: bold;
}

.view-people-area .person .related-info ul li a {
    color:#b00f3b;
}

.next-section-area {
    background-color: #f1f1f1;
    padding: 20px 0;
    margin-top: 30px;
}

.next-section-area h2 {
    font-size:25px;
}

.next-section-area h2, p{
    margin: 0px;
    padding: 0px;
}

.next-section-area h2 a{
    color:#b00f3b;
    font-family: "minion pro";
    font-style: italic;
}

.next-section-area h2 a:hover{
    text-decoration: none;
}

.next-section-area p{
    color:#aeaeae;
    font-weight: bold;
    font-size: 11px;
    padding: 0 28px;
}

.next-section-area p.left{
    text-align: left;
}

.next-section-area p.right{
    text-align: right;
}