.hero-unit.exhibit {
    position: relative;
    height: 700px;
    background: $darkgray;
    background-size: cover;

    @media screen and #{$screen-xs} {
        height: 580px;
    }

    .jumbotron {
        padding: 72px 0 0;
        background: none;
        margin: 0;

        h4 {
            margin: 300px 0 0;
            text-transform: uppercase;
            font-family: "myriad-pro";
            font-size: 16px;
        }
        h1 {
            color: white;

            @media screen and #{$screen-xl} {
                font-size: 102px;
            }
        }
    }
}

.menu-detail-area {
    padding: 140px 0 80px;

    .header {
        p {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        h1, h4 {
            margin: 0;
        }
        h1 {
            margin: 0 0 20px;
        }
    }
    .information-row {
        p {
    	    line-height: 42px;
            font-size: 21px;
        }
        .menu {
            ul {
                border: 1px solid #ddd;
                width: 180px;
                padding: 30px 35px 20px;
                margin-top: 6px;

                li {
                    font-weight: bold;
                    margin-bottom: 15px;
                    font-weight: 14px;
                    list-style: none;

                    a {
                        color: black;

                        &:hover {
                            text-decoration: none;
                            color: $fts-red;
                        }
                    }

                    &.active {
                        a { color: $fts-red; }
                    }
                }
            }
        }
    }
}

.introduction-info {
    margin-bottom: 85px;

    p {
        line-height: 42px;
        font-size: 21px;
    }
}

.introduction-sub-section {
    margin-bottom: 80px;

    .sub-section-item {
        text-decoration: none;

        &:hover h2 {
            opacity: 0.75;
        }

        h2 {
            font-size: 36px;
            font-weight: 400;
            margin: 20px 0 2px;
            color: black;
            opacity: 1;
            transition: $fast-trans;
        }
        p {
            font-size: 18px;   
            margin: 0px;
            line-height: 30px;
        }
    }
}

.exhibit-sub-section {
    .exhibit-sub-info {
        p {
            line-height: 42px;
            font-size: 21px;
        }

    }
}

.map,
.timeline { 
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-bottom: 80px;
    height: 650px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        height: 100px;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(76%, transparent), color-stop(100%, transparent));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 76%, transparent 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=0 );
    }
    &:after {
        content: '';
        position: absolute;
        pointer-events: none;
        bottom: 0;
        height: 100px;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(24%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
        background: -webkit-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: -o-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: -ms-linear-gradient(top, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        background: linear-gradient(to bottom, transparent 0%, transparent 24%, rgba(0, 0, 0, 0.1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
    }

    #leaflet { height: 650px; }
}

.next-section-area {
    background-color: $lightgray;
    padding: 25px 0 20px;
    margin-top: 80px;

    h2 {
        font-size: 24px;
        margin-bottom: 8px;
        margin-top: 0;
        
        a {
            color: $fts-red;
            font-family: "minion-pro";
            font-style: italic;

            &:hover{
                text-decoration: none;
            }
        }
        span {
            font-style: normal;
            font-family: Arial;
            font-size: 21px;
            line-height: 10px;
            margin: 0 4px;
        }
    }
    h4 {
        margin: 0 0 4px;

        &.text-right {
            padding-right: 35px;
        }
        &.text-left {
            padding-left: 35px;
        }
    }
}
