.homepage-blog-section {

}

.homepage-blog-section ul {
    text-align: center;
}

.homepage-blog-section .recent-blog-item  {
    padding: 25px 35px;
    margin: 20px 20px 20px 0;
    border:1px solid #ededed;
    text-align: left;
}

.homepage-blog-section .recent-blog-item  p.lead a {
    color:black;
    font-style: normal;
}

.homepage-blog-section .recent-blog-item  a {
    color: #b00f3b;
    font-style: italic;
}


.homepage-blog-section {

}

ul.partner-list li {
    margin-right: 25px;
    margin-top: 20px;
}