.partner-page-header {
    padding: 120px 0 30px;

    a {
        text-transform: uppercase;
        color:#BFB9B6;
        font-size: .9em;
        font-family: "myriad-pro";
        font-weight: 600;
    }

    img {
        margin-right: 20px;
        max-height: 80px;
        float: right;
    }
    h2 { margin-top: 10px; }
}

.partner-page {
    padding-bottom: 60px;
    
    p.lead {
        line-height: 36px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    ul {
        padding: 0px;
        margin: 0px;

        li {
            margin-bottom: 20px;
            list-style: none;
        
            p {
                &.header {
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 21px;
                    text-transform: uppercase;
                    color: $warmgray;
                }
                &.detail {
                    font-size: 16px;
                	line-height: 21px;
                    margin: 0;
                	color: black;
                    word-break: break-word;
                
                    a {
                        color: $darkgray;
                    }
                }
            }
        }
    }
}

.partner-items {
    border-top: 1px solid #ddd;
    padding-top: 60px;
}

.partners {
    padding-bottom: 80px;
    
    .partner {
        margin-bottom: 40px;
        min-height: 175px;

        p {
            font-size: 18px;
            font-family: 'minion-pro';
            margin: 12px 0 0;
            line-height: 21px;
            text-align: center;
        }
        img {
            max-height: 120px;
            margin: 0 auto;
        }
    }
}
