.about-page-header {
    background: $lightgray;
    padding: 120px 0 30px;
    margin-bottom: 50px;

    h1 {
        font-weight: normal;
    }
}

.about-page-info {
    margin-bottom: 100px;

    p {
        margin-bottom: 30px;
        line-height: 27px;
        font-size: 18px;

        strong {
            color: black;
        }
    }
}