.module-page-header {
    padding: 120px 0 30px;

    a {
        text-transform: uppercase;
        color: #BFB9B6;
        font-size: .9em;
        font-family: "myriad-pro";
        font-weight: 600;
    }
}

.module-page {
    margin-bottom: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;


    h3 {
        margin-top: 10px;
    }
    
    p.information {
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    ul.details {
        padding: 0px;
        margin: 0px;

        li {
            margin-bottom: 20px;
            list-style: none;

            h4 {
                margin: 7px 0 10px;
            }

            p {
                &.header {
                    font-size: 13px;
                    margin: 4px 0;
                    font-weight: bold;
                }
                &.detail {
                    font-size: 15px;
                    line-height: 20px;
                    color:black;
                    margin: 2px 0;

                    a {
                        color:#333;
                    }
                }
            }
        }
    }

    ul.downloads {
        padding-left: 25px;
    
        li {
            p {
                font-weight: bold;
                font-size: 16px;
            }
            a {
                color: black;
                text-decoration: underline;
            
                span {
                    text-decoration: none;
                }
            }
        }
    }
}
    
.module-items {
    margin-bottom: 50px;

    .module-item {
        margin-bottom: 40px;

        p.for {
            font-weight: bold;
            font-size: 13px;
        }
        p.description {
            font-size: 16px;
            line-height: 30px;
        }

        h3.title {
            font-weight: normal;
            margin: 10px 0;

            a {
                color:black;

                &:hover {
                	text-decoration: underline;
                }
            }
        }
    }
}
