.module-page-header {
    padding: 120px 0 30px;

    a {
        text-transform: uppercase;
        color: #BFB9B6;
        font-size: .9em;
        font-family: "myriad-pro";
        font-weight: 600;
    }
}

.module-page {
    padding-bottom: 60px;

    h3 {
        margin-top: 25px;
        color: black;
    }
    
    a.suggest {
        color: $fts-red;
        font-weight: bold;
        font-size: 15px;
        font-style: italic;
    }
    p.information {
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    div.description {
        line-height: 30px;
        font-size: 16px;
        font-weight: 300;
        color: #808080;

        strong {
            display: block;
            margin: 15px 0 5px;
            color: $darkgray;
        }
    }

    ul.details {
        padding: 0px;
        margin: 0px;

        li {
            margin-bottom: 20px;
            list-style: none;

            h4 {
                margin: 7px 0 10px;
            }

            p {
                &.header {
                    font-size: 13px;
                    margin: 4px 0;
                    font-weight: bold;
                }
                &.detail {
                    font-size: 15px;
                    line-height: 20px;
                    color: black;
                    margin: 2px 0;

                    a {
                        color: $fts-red;
                    }
                }
            }
        }
    }

    ul.downloads {
        padding-left: 25px;
    
        li {
            a {
                font-weight: bold;
                font-size: 16px;
                color: $fts-red;
            
                span {
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
    }
}
    
.module-items {
    margin: 50px 0;

    .module-item {
        margin-bottom: 40px;

        p.for {
            font-weight: bold;
            font-size: 13px;
        }
        p.description {
            font-size: 16px;
            line-height: 30px;
        }

        h3.title {
            font-weight: normal;
            margin: 10px 0;

            a {
                color:black;
                font-family: 'minion-pro';
                transition: $fast-trans;

                &:active,
                &:focus,
                &:hover {
                	text-decoration: none;
                    opacity: 0.75;
                }
            }
        }
    }
}
